<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

  </head>


  <body>
  <body style="background: #F6F6EA;">
  <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar">
    <a class="navbar-brand" href="/home">Trash That</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/home"class="nav-link">Home</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

<h1>Sort the items into one of the three categories</h1>

<div id="flex-container">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front" style="background: #519156;">
        <img src="/images/compost.png" alt="Compost" style="width:300px;height:320px;" class="center">
      </div>

		<div class="back" style="background: #519156;">
			<p1 class="center">COMPOST</p1>
		</div>
</div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<div class="flipper">
  <div class="front" style="background: #5277B6;">
      <img src="/images/recycle.png" alt="Recycle" style="width:300px;height:320px;" class="center">
    </div>

  <div class="back" style="background: #5277B6;" >
    <p1 class="center">RECYCLE</p1>
  </div>
</div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<div class="flipper">
  <div class="front" style="background: #544444;">
      <img src="/images/Trash.png" alt="Landfill" style="width:300px;height:320px;" class="center">
    </div>

  <div class="back" style="background: #544444;" >
    <p1 class="center">LANDFILL</p1>
  </div>
</div>
</div>
</div>
<form action = "/" method = "post" enctype = "multipart/form-data">
  <div class = "form-group">
    <label for = "image">Image</label>
    <br>
    <input class = "form-control" id = "image" type = "file" name = "image">
    <br>
    <label for = "categories">Categories</label>
    <select class = "form-control" id = "categories" name = "categories">
      <option value = "compost">Compost</option>
      <option value = "recycle">Recycle</option>
      <option value = "landfill">Landfill</option>
    </select>
    <input type = "submit" value = "Submit">
  </div>
</form>
{{result}}
</body>

  </html>
